.form {
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 40px;  
    border: 1px solid #417A82;
}

.form__field {
    padding-top: 20px;
}

.form__section {
    margin-bottom: 20px;
   
}

.form__label {
    font-size: 16px;
    line-height: 18px;
}

.form__field--meta {
    padding-left: 20px;
    padding-right: 20px;
}

.form__link {
    display: block;
    width: 87px;
    margin: 40px auto 0;
}

/*.form__section:first-child, .form__section:nth-child(2n+1) {
    grid-column: 0/1;
    background-color: beige;
}

.form__section:nth-child(2n) {
    grid-column: 1/2;
}*/

.form__check {
    display: none;
}

.form__check+.form__label {
    position: relative;
    display: block;
    padding-left: 55px;
    cursor: pointer;
}

.form__check+.form__label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 25px;
    height: 16px;
    width: 16px;
    border: 1px solid #417A82;
}

.form__check:checked+.form__label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 30px;
    width: 21px;
    height: 16px;
    background-image: url("../img/icon.svg");
    background-repeat: no-repeat;
}

.form .slick-dots {
    top: -20px;
    bottom: auto;
    box-sizing: border-box; 
    counter-reset: program;
    background-color: #E3F6F5;
}

.form .slick-dots li button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #417A82;    
    counter-increment: program;
}

.form .slick-dots .slick-active button {
    background-color: 1px solid #417A82;
    position: relative;

    &::before {
      content: counter(program);
      position: absolute;
      top: -3px;
      left: -1px;
      color: #fff;
      font-family: "Cormorant";
      font-size: 16px;
      font-style: italic;
    }
}

.form .slick-dots li.slick-active button {
    background-color: #417A82;
}

.form .slick-dots li {
    margin-right: 18px;
}

.form__section-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form__text {
    height: 52px;
    font-size: 14px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    margin-left: 10px;
    vertical-align: middle;
    flex-grow: 1;
    border: none;
}

.form__send {
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

@media (min-width: $tablet-width) {
    .form__field--check {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .form__section {
        width: 50%;
    }   

    .form .slick-dots {
        top: -60px;
    }    
}

@media (min-width: $desktop-width) {
    .form {
        margin-left: 55px;
        margin-right: 55px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 50px;
        box-sizing: border-box;
        border-top: none;
    }      
    
    .form .slick-dots {
        top: -35px;
        width: calc(100% - 200px);
        padding-left: 50px;
        box-sizing: border-box;
    }

    .form__link {
        margin-top: 22px;
    }
}    

